@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-bold.ttf');
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.eot');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Chronicle Display';
  src: url('../fonts/Chronicle Display Semibold.otf');
}