@import "vars";

.wrapper {
  margin: 3.5rem 4.3rem;
}

.central-block {
  margin: 10rem auto 40rem;
  padding: 0 5rem;

  @media #{$mobile-sm} {
    padding: 0;
  }
}

.margin-top {
  margin-top: 1.75rem;
}

.arrow {
  padding-left: .9rem;
}

.scroll-box {
  position: fixed;

  &_left {
    top: 44%;
    left: 4.4rem;

    @media #{$laptop} {
      left: 2rem;
    }

    @media #{$tablet} {
      left: 1rem;
    }

  }

  &_right {
    top: 40%;
    right: 4.4rem;

    @media #{$laptop} {
      right: 2rem;
    }

    @media #{$tablet} {
      right: 1rem;
    }
  }

  @media #{$mobile} {
    display: none;
  }
}

.content {
  margin: 0 8.18rem;

  @media #{$laptop} {
    margin: 0 4rem;
  }

  @media #{$tablet} {
    margin: 0 2rem;
  }

  @media #{$mobile} {
    margin: 0;
  }
}