@import "vars";
@import "fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

ul[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
li {
  margin: 0;
}

html {
  font-size: 13px;

  background: url('../images/bg.jpg') left top/cover no-repeat $green;
  background-size: contain;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  color: $white;
  font-family: Gilroy, serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

:focus,
:active {
  outline: none;
}

@import "blocks/subtitle";
@import "blocks/header";
@import "blocks/start";
@import "blocks/media";
@import "blocks/slider";
@import "blocks/card";
@import "blocks/footer";

@import "helpers";