$iphone5: "(max-width: 322px)";
$mobile-sm: "(max-width: 565px)";
$mobile: "(max-width: 767px)";
$tablet: "(max-width: 991px)";
$laptop: "(max-width: 1199px)";
$laptop-xx: "(min-width: 1900px)";

$white: #fff;
$yellow: #FBD784;
$green: #0b1d26;