@import "../vars";

.card {
  display: flex;

  max-width: 113rem;
  width: 100%;
  height: 100%;

  align-items: center;
  padding: 0 12rem;
  margin: 0 auto;

  opacity: 0;
  transform: translate(-100%, 0);
  transition: all .8s ease 0s;

  &.active {
    opacity: 1;
    transform: translate(0, 0);
  }

  @media #{$laptop} {
    padding: 0 10rem;
  }

  @media #{$tablet} {
    padding: 0 6rem;
  }

  @media #{$mobile} {
    padding: 0 4rem;
    flex-wrap: wrap;
  }

  @media #{$mobile-sm} {
    padding: 0;
    justify-content: center;
  }
}

.card__content {
  margin: 7.69rem 6.26rem 7.69rem 8.24rem;

  &_even {
    margin: 7.69rem 0;

    @media #{$laptop} {
      margin: 2.6rem 0;
    }

    @media #{$mobile} {
      order: -1;
      margin-left: 2.6rem;
    }
  }

  @media #{$laptop} {
    margin: 2.6rem;
  }

  @media #{$tablet} {
    margin: 1.6rem;
  }

  @media #{$mobile-sm} {
    margin: 1rem;
  }
}

.card__title,
.card__text,
.card__link {
  margin-top: 1.48rem;
  
  @media #{$iphone5} {
    margin-top: .5rem;
  }
}

.card__title {
  font-family: "Chronicle Display", serif;
  font-size: 3.5rem;

  opacity: 0;
  transform: translate(-100%, 0);
  transition: all ease .8s .2s;

  &.active {
    opacity: 1;
    transform: translate(0, 0);
  }

  @media #{$laptop} {
    font-size: 2rem;
  }

  @media #{$iphone5} {
    font-size: 1.5rem;
  }
}

.card__title-1::before,
.card__title-2::before,
.card__title-3::before {
  position: absolute;
  top: -12rem;
  left: -5rem;

  font-family: Gilroy, serif;
  content: '01';
  font-size: 13rem;
  opacity: 0.1;

  @media #{$mobile-sm} {
    top: -10rem;
    left: 0;
  }

  @media #{$iphone5} {
    font-size: 10rem;
    top: -7rem;
    left: -2rem;
  }
}

.card__title-2::before {
  content: '02';
}

.card__title-3::before {
  content: '03';
}

.card__text {
  line-height: 1.7;

  opacity: 0;
  transform: translate(-100%, 0);
  transition: all ease .8s .4s;

  &.active {
    opacity: 1;
    transform: translate(0, 0);
  }

  @media #{$iphone5} {
    font-size: .9rem;
  }
}

.card__link {
  display: flex;
  align-content: center;
  color: $yellow;
  text-decoration: none;

  opacity: 0;
  transform: translate(-100%, 0);
  transition: all ease .8s .4s;

  &.active {
    opacity: 1;
    transform: translate(0, 0);
  }
  @media #{$iphone5} {
    font-size: .9rem;
  }

}

.card__img {
  display: block;
  width: 31rem;
  height: 39.5rem;

  object-fit: cover;

  &_even {
    object-position: 35% 50%;
    margin-right: 14.5rem;

    @media #{$laptop} {
      margin-right: 5rem;
    }

    @media #{$mobile-sm} {
      margin-right: 0;
    }
  }

  @media #{$laptop} {
    width: 27.9rem;
    height: 35.55rem;
  }

  @media #{$tablet} {
    width: 24.8rem;
    height: 31.6rem;
  }

  @media #{$mobile-sm} {
    width: 21.7rem;
    height: 27.65rem;
  }

  @media #{$iphone5} {
    width: 18.6rem;
    height: 23.7rem;
  }
}