.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Chronicle Display", serif;
  font-size: 1.75rem;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__link {
  padding-right: 2.2rem;

  a {
    text-decoration: none;
    color: inherit;
  }

  transition: all .3s ease 0s;

  &:hover {
    transform: scale(1.2);
  }
}

.header__account {
  display: flex;
  align-items: center;

  color: inherit;
  text-decoration: none;

  transition: all .3s ease 0s;

  &:hover {
    transform: scale(1.2);
  }
}

.header__img {
  padding-right: .3rem;
}