.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Chronicle Display", serif;
  font-size: 1.75rem;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__link {
  padding-right: 2.2rem;
}
.header__link a {
  text-decoration: none;
  color: inherit;
}

.header__account {
  display: flex;
  align-items: center;
}

.header__img {
  padding-right: 0.3rem;
}

