@import "../vars";

.media {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media #{$mobile-sm} {
    display: none;
  }
}

.media__text {
  transform: rotate(90deg);
  margin-bottom: 2.2rem;
}

.media__img {
  padding-bottom: 1rem;

  transition: all .3s ease 0s;

  &:hover {
    transform: scale(1.2);
  }
}