.media {
  display: flex;
  flex-direction: column;
}
@media (max-width: 565px) {
  .media {
    display: none;
  }
}

.media__text {
  transform: rotate(90deg);
  margin-bottom: 2.2rem;
}

.media__img {
  padding-bottom: 1rem;
}
