@import "../vars";

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 60rem;
  width: 100%;

  @media #{$tablet} {
    max-width: 45rem;
  }

  @media #{$mobile} {
    max-width: 35rem;
  }

  @media #{$mobile-sm} {
    max-width: 25rem;
  }
}

.start__title {
  font-family: "Chronicle Display", serif;
  font-size: 4.7rem;
  line-height: 1.3;
  text-transform: capitalize;

  margin-top: 1.75rem;

  opacity: 0;
  transform: translate(0, 120%);
  transition: all .8s ease 0s;

  &.active {
    opacity: 1;
    transform: translate(0, 0);
  }

  @media #{$laptop} {
    font-size: 4rem;
  }

  @media #{$tablet} {
    font-size: 3rem;
  }

  @media #{$mobile} {
    font-size: 2.5rem;
  }

  @media #{$iphone5} {
    font-size: 2rem;
  }
}

.start__scroll {
  display: flex;
  align-content: center;

  color: inherit;
  text-decoration: none;

  margin-top: 1.75rem;

  opacity: 0;
  transform: translate(0, 120%);
  transition: all .8s ease .5s;

  &.active {
    opacity: 1;
    transform: translate(0, 0);
  }
}